{% extends 'base.html.twig' %}

{% block title %}Mon Panier - La Boutique Française{% endblock %}

{% block content %}


<div class="container">
    <div class="row">
        <h1> Mon Panier :</h1>
        <hr>
        <div class="col-md-12 mt-3 mb-3">
            {% if panier|length > 0 %}
            {% include 'panier/recap.html.twig' with {panier: panier} only %}
                <a href="{{path('order')}}" class="mb-3 mt-3 btn btn-success btn-block">Valider mon panier</a>
            {% else %}
                <b>Votre panier est vide</b>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
