{% extends 'base.html.twig' %}

{% block title %}Modifier le mot de passe - La Boutique Française{% endblock %}

{% block content %}
    <h1>Modifier le mot de passe :</h1>
    <a href="{{ path('account') }}">Retour sur mon compte</a>
    <!-- TODO : FORM -->
        <div class="container mt-5">
            {{ form(form) }}
            {% if notification != null %} 
                <div class="alert alert-success" role="alert">
                    {{notification}}
                </div>
            {% endif %} 
        </div>

{% endblock %}

