@font-face {
    font-family: "Crimson";
    src: url("../../fonts/CrimsonText-Regular.ttf");
}

body {
    position: relative;
    font-family :Crimson ;
}

.navbar-item-custom .navbar-item-custom a {
    color: #fff;
}

.footer-custom {
    text-align: center;
    color: whitesmoke;
    position: absolute;
    bottom :0;
    width: 100%;
    background-color:#222;
    padding-top: 3px;
    margin-top: 150px;
}
/*
select option {
    color : #A9A9A9 !important;
}
*/
.filtre{
    background-color: #eee;
} 

.like {
    font-size: 1.5rem;
}

.panier-product-img {
    width: 15% !important;
}


.block-small {
    max-width: 600px;
    margin: 0 auto;
}