@font-face {
    font-family: "Crimson";
    src: url("../../fonts/CrimsonText-Regular.ttf");
}

h1, h2, h3, h4, h5, h6  {
    font-family :Crimson !important;
}

.navbar-item-custom .navbar-item-custom a {
    color: #fff;
}

.footer-custom {
    text-align: center;
    color: whitesmoke;
    position: fixed;
    bottom :0;
    width: 100%;
    background-color:#222;
    padding-top: 3px;
}

.like {
    font-size: 1.5rem;
}