.navbar-item-custom .navbar-item-custom a {
    color: #fff;
}

.footer-custom {
    text-align: center;
    color: whitesmoke;
    position: fixed;
    bottom :0;
    width: 100%;
    background-color:#222;
    padding-top: 3px;
}

.like {
    font-size: 1.5rem;
}

.card-edit {
height: 745px !important;
}