{% extends 'base.html.twig' %}

{% block title %}Inscription - La Boutique Française{% endblock %}

{% block content %}

    <div class="container">
        <h1 class="mt-5"> Inscription : </h1>
        {{ form(form) }}
    </div>

{% endblock %}
